<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291734430489-t8i9leip2mmmtkvrk3cr8qe424e9h03g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291734430489-t8i9leip2mmmtkvrk3cr8qe424e9h03g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMhzK5I9uu8qiCqWIDTlhudclWeucVMGg</string>
	<key>GCM_SENDER_ID</key>
	<string>291734430489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.firebaseCloudStorage</string>
	<key>PROJECT_ID</key>
	<string>flutter-storage-1ba43</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-storage-1ba43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291734430489:ios:615f2f3257f725c0a65b88</string>
</dict>
</plist>